body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}
.footer {
    display:flex; 
    flex-direction: row;
    justify-content:center;
}

.sedes{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
}

.link-sedes {
    display:flex; 
    flex-direction:column;
}