.footer {
    display:flex; 
    flex-direction: row;
    justify-content:center;
}

.sedes{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
}

.link-sedes {
    display:flex; 
    flex-direction:column;
}