body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}
.logo{
    display:flex;
    align-items:flex-start;
    padding-top:30px; 
}

.logo h4{
    padding-top: 35px;
}

button {
    margin-top: 20px;
}

.modificar-datos {
    margin-top: 20px;
}

.logo h5{
    border: 1px solid black;
    margin: 40px 0px 40px 40px;
    text-align: center;
    padding: 5px;
}

footer {
    height: 10vh;
    min-height: 100px;
}